.body {
  font-family: 'DM Sans';
  font-style: normal;
  line-height: 32px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 44px;
}

.bodySubtitle {
  font-size: 24px;
  width: 84%;
}

.appDescription {
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 16px 16px;
}

.slider {
  min-width: 100vw;
  height: 265px;
  background: #D9D9D9;
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 24px
}

.sliderImage {
  position: relative;
  left: -44px;
  top: 24px;
}