.sidebar {
  width: 14em;
  height: 100vh;
  background-color: #FCFCFC;
  position: absolute;
  top: 0;
  right: 0;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

  z-index: 9;
}

.navigation {
  display: flex;
  margin-top: 16px;
  align-self: center;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;
}

.navigation > div {
  cursor: pointer;
}

.selected {
  color: #EA3A60;
}